    <!-- Header container  with logo and login icon-->

    <header class="header flex">
        <div class="arrow-icon"> 
             <i class="fas fa-angle-left"></i>
        </div>
             <img src="/static/assets/logo-white.svg" alt="" class="logo-img">
        <div class="login-icon"> 
            <i class="fas fa-user"></i>
        </div>
    </header> 