    <!-- Header container  with logo and login icon-->

    <header class="header flex">
        <a class="arrow-icon" href="javascript:history.back()">
             <i class="fas fa-angle-left"></i>
        </a>
             <img src="/static/assets/logo-white.svg" alt="" class="logo-img">
        <a class="login-icon" href="/users/login">
            <i class="fas fa-user"></i>
        </a>
    </header> 
    <div class="buffer"></div>