    <!-- Header container  with logo and login icon-->

    <header class="header flex">
        <% if (user) { %>
        <a class="arrow-icon" href="javascript:history.back()" title="Previous page"> 
            <i class="fas fa-angle-left"></i>
        <%} else { %>
            <a class="arrow-icon" href="javascript:history.back()" title="Previous page">
            </a>
         <%}%>
        </a>

        <a href="/" title="Homepage">
            <img src="/static/assets/logo-white.svg" alt="" class="logo-img">
        </a>
        
        <% if (user) { %>
        <a class="login-icon" href="/users/logout" title="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        <% } else { %>
        <a class="login-icon" href="/users/login" title="Log in">
            <i class="fas fa-user"></i>
        </a>
        <% } %>
    </header> 
    <div class="buffer"></div>