<!-- Bottom Container for the menu -->
<nav class="menu-bottom flex">
    <a class="bottom-button active" href=""><i class="fas fa-home"></i></a>
    <a class="bottom-button" href=""><i class="fas fa-bookmark"></i></a>
    <a class="bottom-button" href=""><i class="fas fa-user"></i></a>
</nav>