<% if(typeof errors!= 'undefined') { %>
  <ul class="error"><i class="error-icon fas fa-circle-exclamation"></i>
  <%    errors.forEach(function(error){ %>
  <li><%= error.msg %></li>
<%    })        %>
  </ul>  
<% } %>


<% if(success_msg!= '') { %>
<p><%=success_msg %> </p>
<% } %>


<% if(error_msg != '') { %>
  <%= error_msg %> 
<% } %> 
<% if(error != '') { %>
  <%= error %>
<% } %>