<form class="search-tools" method="POST" action="/">

    <!-- Search bar with input and button-->
    <div class="search-bar">
        <div class="search-container">
            <input 
            class="search-input" 
            id="search-input" 
            name="searchinput" 
            type="text" 
            placeholder="Type your search" />
            <label for="search-input" class="search-icon">
                <i class="fas fa-search"></i>
            </label>
            

        </div>
        <input type="submit" value="Search" class="btn btn-primary" />
             </form>
    </div>


    <!--Homepage with sort by, more options and card -->
    <div class="options">
        <div class="options-sort">
            <label for="options-sort-input">Sort by</label>  
            <select id="options-sort-input">
                <option value="Date">Date</option> 
                <option value="Price">Price</option>  
                <option value="Theatre">Theatre</option>  
                <option value="Title">Title</option>  
            </select>  
        </div>    
        <div class="options-more">
            <button class="options-more-btn">More options <i class="fas fa-angle-down"></i></button>
            
            <div class="options-more-form">  
                <div class="more-input-open flex flex-col">  
                    <div class="row flex center-v">
                        <label for="options-date">Starting from</label>
                        <input type="date" id="options-date" name="options-date">
                    </div>
                    <div class="row flex">
                        <div class="inner-label-wrap">
                            <input type="text" id="options-theater" name="options-theater" placeholder="Choose your theatre(s)">
                            <label class="inner-label" for="options-theater">Choose your theater(s)</label>
                        </div>
                    </div>
                    <div class="row flex">
                        <div class="inner-label-wrap">
                            <input type="number" id="options-price" name="options-price" placeholder="Max. price" >
                            <label class="inner-label" for="options-price">Max. price</label>
                        </div>
                    </div>
                    <div class="row flex">
                        <div class="inner-label-wrap">
                            <input type="text" id="options-distance" name="options-distance" placeholder="Max. distance" >
                            <label class="inner-label" for="options-distance">Max. distance</label>
                        </div>
                    </div>
                    <div class="row flex center-v">
                        <label for="options-genre">Genre</label>  
                        <select id="options-genre" name="options-genre">
                            <option value="Drama">Drama</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Children">Children</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</form>