<!-- Search bar with input and button-->
<div class="search-bar flex">
    <input type="text" class="search-input" placeholder="Type your search" >
<div class="search-icon">
    <i class="fas fa-search"></i>
     </div>
    <button class="search-btn">Search</button>
</div>


<!--Homepage with sort by, more options and card -->
<div>
<form>  
    <label> Sort by </label>  
<select class=sort-input>  
    <option value = "Date"> Date </option> 
    <option value = "Price"> Price   </option>  
    <option value = "Theatre"> Theatre </option>  
    <option value = "Title"> Title </option>  
</select>  
</form>    
<form>  
    <label> More options </label>  
<select class="more-input">  
    <option value = ""> </option>  
        <!-- <input type="date">
        <input type="text" placeholder="Choose your theatre(s)">
        <input type="text" placeholder="Max. price">
        <input type="text" placeholder="Max. distance"> -->
</select>
    <!-- <label> Genre</label>   -->
<!-- <select>
         <option value="Drama">Drama</option> 
</select> -->
</form> 
</div>