<main class="main-gradient-background main-container">

	<div class="container-middle">
		<h1 class="title-bg-dark">Forgot password?</h1>
        <p>No worries! Enter the email associated with your account.
            We'll send you a secure link to reset your password. </p>
		

		<form action="" method="" class="flex flex-col">
			<div class="inner-label-wrap">
				<input class="full-width" type="email" id="email" name="email" placeholder="Email">
				<label class="inner-label" for="email">Email</label>
			</div>
			
			<input class="btn btn-white self-center mt-2" type="submit" value="Send reset link" />
		</form>
	</div>
	
	

</main>	
