<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Homepage</title>
</head>
<body>
    <!-- Header container  with logo and login icon-->

<div class="header flex">
    <div class="arrow-icon" style="visibility: hidden;"> 
         <i class="fas fa-angle-left"></i>
    </div>
         <img src="../assets/logo-white.svg" alt="" class="logo-img">
    <div class="login-icon"> 
        <i class="fas fa-user"></i>
    </div>
</div> 

<!-- Search bar with input and button-->
<div class="search-bar flex">
        <div class="search-container">
            <input type="text"  class="search-input" placeholder="Type your search" >
            <div class="search-icon">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <button class="search-btn">Search</button>
    </div>
</div>


<!--Homepage with sort by, more options and card -->
<div class="options flex">
    <form>  
        <label> Sort by </label>  
        <select class="sort-input">  
            <option value = "Date"> Date </option> 
            <option value = "Price"> Price   </option>  
            <option value = "Theatre"> Theatre </option>  
            <option value = "Title"> Title </option>  
        </select>  
    </form>    
    <form>  
        <label> More options </label>  
    <select class="more-input">  
        <!-- <option value = ""> </option>  
             <input type="date" >
            <input type="text"   placeholder="Choose your theatre(s)" >
            <input type="text"  placeholder="Max. price" >
            <input type="text"  placeholder="Max. distance" >
    </select class="more-input">
        <label> Genre</label>  
     <select >
             <option value="Drama">Drama</option>   -->
    </select>
    </form> 
</div>

<!--Card for the plays-->
<span>
            <h2>Happening today</h2>
</span>

<div class="card flex">

        <div class="title-card flex"> <div>Title </div>
        <div><i class="fas fa-bookmark"></i></div>
        </div> 

        <div class="content-card flex">

            <div class="header-dates-summary-left flex">
        
                  <div>Dates</div>
                
               <div class="summary"> <p >Lorem ipsum dolor, sit     amet consectetur adipisicing elit. <br>
             exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
            Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                 </p> </div> 

                <div>Director</div>              
                <div>Actors</div>

            </div>

                 
              
                    
           

                 <div class="pic-reviews flex">
                    
                     <div>Theater</div>
             
                     <div><img class="play-affiche" src="https://picsum.photos/200/300" alt=""></div>
                      <div class="reviews-small flex">Read * Reviews</div>  
                        <div>
        <div class="review-stars">
            <a href="">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </a>
        </div>
                         
                </div>
        </div>
                 

</div>	
</div>
<!-- Bottom Container for the menu -->

<div class="container-bottom flex">
    <a class="bottom-button" href=""><i class="fas fa-home"></i></a>
            <a class="bottom-button" href=""><i class="fas fa-bookmark"></i></a>
            <a class="bottom-button" href=""><i class="fas fa-user"></i></a>
    </div>
</div>
</body>
</html>