<%- include('partials/search') %>

<h1>Happening today</h1>

<!--Card for the plays-->
<section class="cards-container">
    <article class="card">
        <div class="card-header">
            <h2 class="card-title">Title</h2>
            <button class="card-bookmark"><i class="fas fa-bookmark"></i></button>
        </div> 

        <div class="card-content">
            <div class="card-row">
                <div class="card-dates">Dates</div>

                <div class="card-theater">Theater</div>
            </div>
            <div class="card-row">
                <div class="">
                    <div class="card-summary"> 
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                        Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                        </p>
                        <button class="card-summary-seemore"><i class="fas fa-angle-down"></i></button>
                    </div> 
    
                    <div>Director</div>  
                    <div>Actors</div>
                </div>

                <div class="pic-reviews">
                    <img class="card-poster" src="https://picsum.photos/200/300" alt="">
                    <div class="card-reviews">
                        <a href="#" class="reviews-link">
                            <p>Read × reviews</p>
                            <div class="review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </a>
                    </div>
                </div>    
            </div>
        </div>	
    </article>

    <article class="card">
        <div class="card-header">
            <h2 class="card-title">Title</h2>
            <button class="card-bookmark"><i class="fas fa-bookmark"></i></button>
        </div> 

        <div class="card-content">
            <div class="card-row">
                <div class="card-dates">Dates</div>

                <div class="card-theater">Theater</div>
            </div>
            <div class="card-row">
                <div class="">
                    <div class="card-summary"> 
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                        Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                        </p>
                        <button class="card-summary-seemore"><i class="fas fa-angle-down"></i></button>
                    </div> 
    
                    <div>Director</div>  
                    <div>Actors</div>
                </div>

                <div class="pic-reviews">
                    <img class="card-poster" src="https://picsum.photos/200/300" alt="">
                    <div class="card-reviews">
                        <a href="#" class="reviews-link">
                            <p>Read × reviews</p>
                            <div class="review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </a>
                    </div>
                </div>    
            </div>
        </div>	
    </article>
</section>