<%- include('partials/search') %>

<!--Card for the plays-->
<span>
            <h2>Happening today</h2>
</span>

<div class="card flex">

        <div class="title-card flex"> <div>Title </div>
        <div><i class="fas fa-bookmark"></i></div>
        </div> 

        <div class="content-card flex">

            <div class="header-dates-summary-left flex">
        
                  <div>Dates</div>
                
               <div class="summary"> <p >Lorem ipsum dolor, sit     amet consectetur adipisicing elit. <br>
             exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
            Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                 </p> </div> 

                <div>Director</div>              
                <div>Actors</div>

            </div>

                 
              
                    
           

                 <div class="pic-reviews flex">
                    
                     <div>Theater</div>
             
                     <div><img class="play-affiche" src="https://picsum.photos/200/300" alt=""></div>
                      <div class="reviews-small flex">Read * Reviews</div>  
                        <div>
        <div class="review-stars">
            <a href="">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </a>
        </div>
                         
                </div>
        </div>
                 

</div>	
</div>
<!-- Bottom Container for the menu -->

<div class="container-bottom flex">
    <a class="bottom-button" href=""><i class="fas fa-home"></i></a>
            <a class="bottom-button" href=""><i class="fas fa-bookmark"></i></a>
            <a class="bottom-button" href=""><i class="fas fa-user"></i></a>
    </div>
</div>