<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="/static/scripts/frontend.js" defer></script>

    <title>OneTheater</title>
</head>
<body>

    <%- include('partials/header') %>

    <%- body %>

    <%- include('partials/footer') %>
    <%- include('partials/menu-bottom') %>
</body>
</html>