<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../public/stylesheets/style.css" >
	<title>Login Page</title>
</head>
<body>
	<div class="frame flex">
<header class="header">
	<div class="top-menu flex"> 
		<div class="return-arrow"><</div>
			    <img src="../assets/logo-white.svg" alt="logo">
				<div class="login-icon">login-icon</div>
	</div> 
</header>

<div class="container-middle flex"> 
	<div class="title">log In h1</div>
		<form action="" method="">
  			<label>
  				<input placeholder="E-Mail" type="email">
  			</label> <br>
  				<label>
					<input placeholder="Password" type="password" name="">
				</label>
  						<input type="submit" value="LOG IN">
		</form>
</div>


<div class="container-bottom flex">
		<div class="link light">
			<a href="">Forgot your password?</a>
		</div>
			<div class="link bold">
				<a href="">Sign up</a>
			</div>
</div>
</div>

</body>
</html>
