<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>
</head>
<body>

<div class="top-menu flex"> 
	<div class="return-arrow">icon</div>
		<div class="logo">logo</div>
			<div class="login-icon">login-icon</div>
</div> 

<div class="container-middle flex"> 
	<div class="title">log In h1</div>
		<div class="input-mail">input email</div>
			<div class="input-password">input password</div>
</div>

<div class="container-bottom flex">
	<button class="login-button">Log In</button>
	<div class="link light">forgot your password?</div>
	<div class="link bold">sign up</div>
</div>

</body>
</html>