<main class="full-height-container main-container">

	<div class="container-middle">
		<h1 class="title">Log In</h1>
		<form action="post" method="">
			<div class="inner-label-wrap">
				<input type="email" id="email" name="email" placeholder="Email">
				<label class="inner-label" for="email">Email</label>
			</div>
			<div class="inner-label-wrap">
				<input type="password" id="password" name="password" placeholder="Password">
				<label class="inner-label" for="password">Password</label>
			</div>
			<input type="submit" value="LOG IN" />
		</form>
	</div>
	
	<div class="container-bottom">
		<div class="link light">
			<a href="">Forgot your password?</a>
		</div>
	
		<div class="link bold">
			<a href="/signup">Sign up</a>
		</div>
	</div>

</main>	
