
<!-- Write a review-->

<div class="write-review">
    <h5>When did you see the play</h5>
    <input type="date">
    <h5>Where did you see it</h5>
    <input type="text" placeholder="Choose your theatre">
    <h5>Leave a review</h5>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button>Publish my review</button>
</div>
