<main class="main-container">
<!-- Write a review-->


    <div class="write-review">
        <button class="options-more-btn"><i class="fas fa-angle-down"></i></button>

        <div class="review-form">  
            <div class="more-input-open flex flex-col">
                <label for="options-date">When did you see the play</label>
                <input type="text" id="options-date" name="options-date"placeholder = "MM/DD/YYYY"
                onfocus="(this.type='date')"
                onblur="(this.type='text')" >
                <label for="options-theater">Where did you see the play</label>
                <input type="text" id="options-theater" name="options-theater" placeholder="Choose your theater">
                <label for="options-review">Leave a review</label>
                <textarea name="Leave a review" cols="30" rows="10" placeholder="Type here"></textarea>
                <button class="btn btn-primary">Publish my review</button> 
            </div>
        </div>
    </div>

</main>