<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Write a review</title>
</head>
<body>
    <!-- Header container  with logo, login and back to homepage icon-->

    <div class="header flex">
        <div class="return-arrow">
            <i class="far fa-angle-left"></i>
            </div>
        <div class="logo">
            <img src="../assets/logo-white.svg" alt="logo">
        </div>
        <div class="logout-icon">
            <i class="far fa-sign-out"></i>
        </div>
    </div>

    <!-- Affiche with name and review stars-->

    <div>
        <div class="review-stars">
            <a href="">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </a>
        </div>
        <img src="" alt="">
        <h2>Théâtre de Poche</h2>
        <img src="https://picsum.photos/200/300
    " alt="">
    </div>

    <!-- Write a review-->
    <div>
        <h5>When did you see the play</h5>
        <input type="date">
        <h5>Where did you see it</h5>
        <input type="text" placeholder="Choose your theatre">
        <h5>Leave a review</h5>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button>Publish my review</button>
    </div>

    <!--Rreviews-->
    <div class="review">
        <h3>Jason 1000</h3>
        <div class="review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5>Seen on 3 April 2022 at Théâtre de Poche</h5>
        <p><i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
            exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
            Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
            Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
            Placeat accusamus quas magni quos!</i>
        </p>
</div>
    
<div class="review">
    <h3>Alain Duchamp</h3>
    <div class="review-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <h5>Seen on 3 April 2022 at Théâtre de Poche</h5>
    <p><i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
        Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
        Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
        Placeat accusamus quas magni quos!</i>
    </p>
</div>
</body>
</html>