<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
</head>
<body>
    <!-- Header container  with logo, login and back to homepage icon-->
<div class="header flex">
    <div class="logo"> 
        <img src="../assets/logo-white.svg" alt="logo">
    </div> 
    <div class="login-icon"> 
        <i class="fas fa-user"></i>
    </div>
    <div class="arrow-icon"></div>
        <i class="far fa-angle-left"></i>
</div> 
</body>
</html>