<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Play</title>
</head>

<body>
    <!-- Header container  with logo, login and back to homepage icon-->

    <div class="header flex">
        <div class="return-arrow">
            <i class="far fa-angle-left"></i>
            </div>
        <div class="logo">
            <img src="../assets/logo-white.svg" alt="logo">
        </div>
        <div class="login-icon">
            <i class="fas fa-user"></i>
        </div>
      
    </div>

    <!-- Affiche with name and review stars-->

    <div>
        <div class="review-stars">
            <a href="../views/playreview.html">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </a>
        </div>
        <img src="" alt="">
        <h2>Théâtre de Poche</h2>
        <img src="https://picsum.photos/200/300
    " alt="">
    </div>

    <!--Bookmark, review starts and book your place link-->
    <div>
        <div class="bookmark">
            <i class="far fa-bookmark"></i>
        </div>
        <div class="review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="link light">
            <a href="">Book your place</a>
        </div>
    </div>

    <!--Summary of the play-->
    <div class="card flex">
        <p>Théâtre de Poche</p>
        <p class="play-name">16 €</p>
        <input type="date">
        <p class="summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
            exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
           Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
           exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
           Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
           Placeat accusamus quas magni quos!
       </p>
             <div class="arrow-icon">
                <i class="far fa-angle-left"></i>
                </div>


                <!--Rreviews-->
                <div class="review">
                    <h3>Jason 1000</h3>
                    <div class="review-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5>Seen on 3 April 2022 at Théâtre de Poche</h5>
                    <p><i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                        Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                        Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                        Placeat accusamus quas magni quos!</i>
                    </p>
            </div>
                
            <div class="review">
                <h3>Alain Duchamp</h3>
                <div class="review-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5>Seen on 3 April 2022 at Théâtre de Poche</h5>
                <p><i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                    exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                    Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                    Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                    Placeat accusamus quas magni quos!</i>
                </p>
        </div>
        <!-- Bottom Container for the menu -->
<div class="container-bottom flex">
    <div class="link light">
        <a href="">Home</a>
    </div>
        <div class="link bold">
            <a href="">Wishlist</a>
    </div>
        <div class="link light">
            <a href="">Profile</a>
    </div>
</div>
</body>

</html>