<main class="main-container">
	<!-- Container for big titles on page  -->

	<div class="container-middle">
		<h1 class="title-bg-red">My Profile</h1>
		<h3 class="title-main">Settings</h3>
		<div class="prof-pic-container">
			<div>Change your profile picture</div>
			<div class="add-prof-pic">
				<i class="fas fa-user-plus"></i>
			</div>
		</div>
		<form action="" method="" class="flex-col2">
			<label> Username
				<input placeholder="Username" type="username">
			</label> <br>
			<label> Email
				<input placeholder="Email" type="email" name="">
			</label> <br>
			<label> Password
				<input placeholder="Password" type="password" name="">
			</label> <br>

			<input class="btn btn-tertiary" type="submit" value="Confirm modifications">
		
		</form>
	</div>

	<!-- Container and cards for the reviews -->

	
		<div class="title-main">My reviews</div>
		<div class="container-middle flex">
			<div class="play-card-theater">Theater</div>
			<div class="play-card-dates">Date</div>
			<div class="play-card-reviews">
			<a href="#" class="reviews-link">
				<div class="review-stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				</div>
			</a>
			</div>
		</div>
	</div>
</main>