
	<!-- Container for big titles on page  -->

	<div class="container-middle">
		<h1 class="title-bg-light">My Profile</h1>
		<h2 class="title-bg-light">Settings</h2>
		<div>
			<div>Change your profile picture</div>
			<div>Icon for changing profile pic</div>
		</div>
<form class="flex flex-col" action="/users/profile" method="POST">
      <div class="inner-label-wrap">
        <input
		class="full-width"
          type="username"
          id="username"
          name="username"
          placeholder="username"
          value="<%= typeof username != 'undefined' ? username : '' %>" />
		<label class="inner-label" for="username">Username </label>
      </div>
      <div class="inner-label-wrap">
        <input
		class="full-width"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
        <label class="inner-label" for="email">Email</label>
      </div>
      <div class="inner-label-wrap">
        <input
		class="full-width"
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
        <label class="inner-label" for="password">Password</label>
      </div>
      <div class="inner-label-wrap">
        <input
		class="full-width"
          type="password"
          id="password"
          name="password2"
          placeholder="Password"
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
        />
        <label class="inner-label" for="password">Confirm Password</label>
      </div>
     <input class="btn btn-primary" type="submit" value="Confirm modifications" />
    </form>





	<!-- Container and cards for the reviews -->

	<div class="container-middle flex">
		<div class="title">My reviews</div>
		<div class="card review flex">
			<div class="header-title username">
				<div>Profilepic</div>
				<div>Username</div>
				<div>stars</div>
			</div>
			<div class="dates-theater reviews">
				<div>Dates</div>
				<div>Theater</div>
			</div>
			<div>Review</div>
		</div>
	</div>