
	<!-- Container for big titles on page  -->

	<div class="container-middle flex">
		<div class="title">My Profile</div>
		<div class="title">Settings</div>
		<div>
			<div>Change your profile picture</div>
			<div>Icon for changing profile pic</div>
		</div>
		<form action="" method="">
			<label> Username
				<input placeholder="Username" type="username">
			</label> <br>
			<label> Email
				<input placeholder="Email" type="email" name="">
			</label> <br>
			<label> Password
				<input placeholder="Password" type="password" name="">
			</label> <br>
			<input type="submit" value="Confirm modifications">
		</form>
	</div>

	<!-- Container and cards for the reviews -->

	<div class="container-middle flex">
		<div class="title">My reviews</div>
		<div class="card review flex">
			<div class="header-title username">
				<div>Profilepic</div>
				<div>Username</div>
				<div>stars</div>
			</div>
			<div class="dates-theater reviews">
				<div>Dates</div>
				<div>Theater</div>
			</div>
			<div>Review</div>

		</div>
	</div>