<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<title>Sign up Confirmation</title>
</head>

<body>

<!-- Header area with the logo  -->


<header class="header">
	<div class="top-menu flex"> 
	<!-- 	<div class="return-arrow"><</div> -->
			    <img src="../assets/logo-white.svg" alt="logo">
				<!-- <div class="logout">logout-icon</div> -->
			
				
	</div> 
</header> 

<!-- Container for big titles on page  -->

<div class="container-middle flex"> 
	<div>You received a confirmation e-mail, please confirm your registration. </div>	


		

<!-- Bottom Container for the menu -->

<div class="container-bottom flex">
		<div class="link light">
			<a href="">Go back to homepage</a>
		</div>
</div>

</body>
</html>