<main class="main-gradient-background main-container">

<div class="container-middle flex"> 
	<div class="title">Create a new account </div>
		<form action="" method="">
  			<label>
  				<input value="Username" type="username">
  			</label> <br>
  				<label>
					<input value="E-mail" type="email" name="">
				</label>
				<label>
					<input placeholder="Password" type="password" name="">
				</label>
				<label>
					<input placeholder="Confirm Password" type="password" name="">
				</label>
  						<input type="submit" value="Register">
		</form>
</div>

</main>