<main class="main-gradient-background main-container">

	<div class="container-middle">
		<h1 class="title-bg-dark">Thank you for registering. You can now log in.</h1>
		<div class="container-bottom flex">
			<div class="link light">
				<a href="/users/login">Log in</a>
			</div>
		</div>	
	</div>

</main>