<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/OneTheater_app/public/stylesheets/style.css">
	<title>Wishlist</title>
</head>

<body>

<!-- Header area with the logo  -->


<header class="header-area">
	<div class="top-menu flex"> 
		
			<div class="logo"><img src=""></div>
				
	</div> 
</header> 

<!-- Container for big titles on page  -->

<div class="container-middle flex"> 
	<div class="title">Your Wishlist</div>	
</div>

<!-- Cards for the plays  -->

<div class="card flex">
	<div class="header-title-bookmark">
		<div>Title</div>
			<div>bookmark icon</div>
	</div>
				<div class="dates-theater">
					<div>Dates</div>
						<div>Theater</div>
				</div>
							<div>Summary</div>
								<div class="pic-reviews">
									<div>Picture</div>
										<div>Reviews</div>
							</div>
</div>

<!-- Bottom Container for the menu -->

<div class="container-bottom flex">
		<div class="link light">
			<a href="">Forgot your password?</a>
		</div>
			<div class="link bold">
				<a href="">Sign up</a>
			</div>
</div>

</body>
</html>