<main class="main-container">
	<%- include('partials/search') %>
		
	<h1>My Wishlist</h1>
	
	<section class="cards-container"> 
		<% if (user.wishlist.length === 0) { %>
			<article class="card play-card">
				<h2 class="title-bg-green">Your wishlist is empty</h2>
				<h4 class="title-bg-green">Tap on the bookmark <i class="far fa-bookmark"></i> to add a play to your wishlist</h4>
			</article>	
		<% } else { %>
			
			<%- include('partials/playcards') %>

		<% } %>
	</section>


</main>


	
		