
		<!-- Container for big titles on page  -->

		<div class="container-middle flex">
			<div class="title">Your Wishlist</div>
		</div>

		<!-- Cards for the plays  -->

		<div class="card play flex">
			<div class="header-title-bookmark">
				<div>Title</div>
				<div>bookmark icon</div>
			</div>
			<div class="dates-theater">
				<div>Dates</div>
				<div>Theater</div>
			</div>
			<div>Summary</div>
			<div class="pic-reviews">
				<div>Picture</div>
				<div>Reviews</div>
			</div>
		</div>



	
		