<main class="main-container">
	<%- include('partials/search') %>
		

	<h1>My Wishlist</h1>
		

<section class="cards-container">
			
	<article class="card play-card">
		<h3 class="title-bg-green">Wishlist is empty</h3>
		<h4 class="title-bg-green"> Tap on bookmark <i class="far fa-bookmark"></i> to add the play to your wishlist</h4>
		<a href="/">Go back to Homepage</a>
	</article>		
				
</section>

</main>


	
		