* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

@media screen and (max-width: 600px) {
  
.header {
    height: 117px;
    width: 390px;
    display: flex;
    background-color: #990D0D;
    justify-content: center;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.login-icon {
    justify-content:flex-end;
    padding:5vh;
    font-size: 20px;
    color: white;
}

.card {

display: flex;
flex-direction: row;
width: 90vw;
height: 60vh;
flex-wrap: wrap;
margin: 2em;
border-style: groove;
padding: 1em;


} 

.fa-bookmark::before {
  content: "\f02e";
  margin-right: 80px; }

.content-card {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
width: 90vw;
height: 50vh;
}

.title-card {
    width: 85vw;
height: 5vh; 
display: flex;
  
  justify-content: space-between;

}

.play-affiche {
width: 30vw;
height: 30vh;
}

.summary {

width: 50vw;
height: 50vh;

}

.header-dates-summary-left {

display: flex;
flex-direction: column;
justify-content: space-between;

}



.pic-reviews {
display: flex;
flex-direction: column;
text-align: center;
justify-content: space-between;

}


.container-bottom {
    display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 3vh;
    border-top-style: solid;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;
}





}